.memberlist__container {
  margin-top: 50px;
  .member__table {
    color: var(--text-color);
    border-collapse: separate;
    border-spacing: 0em 10px;
    text-align: center;
    .member__heading {
      th {
        border: none;
        width: fit-content;
      }
    }
    .member__info {
      background-color: var(--secondary-color);
    }
    tr {
      border-radius: 10px;
      border: 1px solid var(--border-color);
    }
    .id {
      border-left: 1px solid var(--border-color);
    }
    .edit {
      border-right: 1px solid var(--border-color);
    }
    td {
      border: none;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 1em 0em;
      .image {
        margin-right: 5px;
        height: 20px;
        width: 20px;
        stroke: var(--text-color);
      }
    }
    .edit {
      cursor: pointer;
      padding-right: 0.4em;
      color: var(--text-color);
    }
  }
}

@media only screen and (max-width: 784px) {
  .memberlist__container {
    margin-top: 50px;
    .member__table {
      font-size: 14px;
      color: var(--text-color);
      .member__heading {
        th {
          border: none;
          width: fit-content;
        }
      }
      .member__info {
        background-color: var(--secondary-color);
      }
      tr {
        border-radius: 10px;
      }

      td {
        border: none;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        padding: 0.5em 0em;
      }
    }
  }
}
