@import '../utils/_variables';

.projectdetail__container {
  margin: 1em;
  padding: 1em;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  width: 60%;
  .close {
    display: flex;
    justify-content: flex-end;
    .image {
      height: 60px;
      width: 60px;
      stroke: var(--text-color);
      stroke-width: 1;
    }
  }
  .project__info__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .edit__form__container {
      padding: 2em;
      width: 90%;
      form {
        .edit__form__body {
          .project__info {
            .form-group {
              display: flex;
              flex-direction: column;
              .label {
                font-size: 16px;
              }
              .form-control {
                border-radius: 2px;
                border: 2px solid $black-100;
                background-color: var(--tertiary-color);
                color: var(--text-color);
              }
              .error {
                border: 2px solid red !important;
              }
              .error-message {
                display: flex;
                align-items: center;
                margin-top: 5px;
                text-align: left;
                color: red;
                font-size: 14px;
              }
              .form-control:focus {
                border: 2px solid var(--primary-color);
                box-shadow: none;
              }
              .MuiFormControl-root {
                width: 100%;
                stroke: var(--text-color);
                .MuiInput-underline:not(.Mui-disabled):before {
                  border-bottom: 2px solid $black-100;
                }
                .MuiInput-underline:not(.Mui-disabled):after {
                  border-bottom: 2px solid var(--primary-color);
                }
                .MuiInputBase-root {
                  color: var(--disabled-text-color) !important;

                  .MuiInputBase-input::after::before {
                    color: var(--text-color) !important;
                  }
                }
              }
              .multi-select {
                .go2646822163 {
                  background-color: var(--tertiary-color);
                  border: 2px solid $black-100;
                }
                .go3425554998 {
                  color: var(--text-color);

                  padding-bottom: 2em;
                  .panel-content {
                    background-color: var(--tertiary-color);
                    .select-panel {
                      .go3973839879:hover {
                        background-color: var(--secondary-color) !important;
                      }
                      .selected {
                        background-color: var(--secondary-color) !important;
                      }
                      .go2343601875 {
                        li {
                          .selected {
                            background-color: var(--secondary-color) !important;
                          }
                        }
                      }
                    }
                  }
                  input {
                    background-color: var(--tertiary-color);
                    color: var(--text-color);
                  }
                }

                .go2646822163:focus-within {
                  border: none;
                  border: 2px solid var(--primary-color);
                  box-shadow: none;
                }
              }
            }
          }
          .form-group-btn {
            margin-top: 30px;
            display: flex;
            justify-content: space-evenly;
            .form__btn {
              @include btn(var(--primary-color), var(--inverted-text-color));
              width: 20%;
              margin-top: 25px;
            }

            .disabled__btn {
              @include disabled-btn();
              width: 20%;
              margin-top: 25px;
            }
            .form__btn-delete {
              @include btn($red, $white);
              width: 20%;
              margin-top: 25px;
            }
            .form__btn-delete:hover {
              background-color: lighten($red, 10);
            }
          }
        }
      }
    }
  }
}
