@import './utils/_variables';
@import './utils/_mixins';
.modal__container {
  min-width: 300px;
  .form__container {
    form {
      .form__body {
        padding: 0 !important;
        .title {
          margin-bottom: 20px;
        }
        .line {
          height: 1px;
          margin-top: 30px;
          background-color: var(--disabled-bg-color);
        }
        .project__details {
          p {
            margin: 0;
            margin-top: 20px;
            text-align: left;
            font-size: 18px;
            span {
              color: $success;
            }
          }
          .MuiFormControl-root {
            width: 100%;
            stroke: var(--text-color);
            .MuiInput-underline:not(.Mui-disabled):before {
              border-bottom: 2px solid $black-100;
            }
            .MuiInput-underline:not(.Mui-disabled):after {
              border-bottom: 2px solid var(--primary-color);
            }
            .MuiInputBase-root {
              color: var(--disabled-text-color) !important;

              .MuiInputBase-input::after::before {
                color: var(--text-color) !important;
              }
            }
          }
        }
        .member__access {
          margin-top: 30px;
          .react-autosuggest__container {
            position: relative;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .modal__container {
    min-width: 300px;
    .form__container {
      form {
        .form__body {
          padding: 0 !important;
          .title {
            margin-bottom: 20px;
          }
          .line {
            height: 1px;
            margin-top: 30px;
            background-color: $black-100;
          }
          .project__details {
            p {
              margin: 0;
              margin-top: 10px;
              text-align: left;
              span {
                color: $success;
              }
            }
            .MuiFormControl-root {
              width: 100%;
              stroke: var(--text-color);
              .MuiInput-underline:not(.Mui-disabled):before {
                border-bottom: 2px solid $black-100;
              }
              .MuiInput-underline:not(.Mui-disabled):after {
                border-bottom: 2px solid var(--primary-color);
              }
              .MuiInputBase-root {
                color: var(--disabled-text-color) !important;

                .MuiInputBase-input::after::before {
                  color: var(--text-color) !important;
                }
              }
            }
          }
          .member__access {
            margin-top: 40px;
            .react-autosuggest__container {
              position: relative;
            }
          }
        }
      }
    }
  }
}
