@import '../utils/_variables';

.projectdetail__container {
  margin: 1em;
  padding: 1em;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  width: 60%;
  .close {
    display: flex;
    justify-content: flex-end;
    .image {
      height: 60px;
      width: 60px;
      stroke: var(--text-color);
      stroke-width: 1;
    }
  }
  .project__info__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .edit__form__container {
      padding: 2em;
      width: 90%;
      form {
        .edit__form__body {
          .project__info {
            .form-group {
              display: flex;
              flex-direction: column;
              .label {
                font-size: 16px;
              }
              .form-control {
                border-radius: 2px;
                border: 2px solid gray;
                background-color: var(--tertiary-color);
                color: var(--text-color);
              }
              .error {
                border: 2px solid red !important;
              }
              .error-message {
                display: flex;
                align-items: center;
                margin-top: 5px;
                text-align: left;
                color: red;
                font-size: 14px;
              }
              .form-control:focus {
                border: 2px solid var(--primary-color);
                box-shadow: none;
              }
              .MuiFormControl-root {
                width: 100%;
                stroke: var(--text-color);
                .MuiInput-underline:not(.Mui-disabled):before {
                  border-bottom: 2px solid $gray;
                }
                .MuiInput-underline:not(.Mui-disabled):after {
                  border-bottom: 2px solid var(--primary-color);
                }
                .MuiInputBase-root {
                  color: var(--disabled-text-color) !important;

                  .MuiInputBase-input::after::before {
                    color: var(--text-color) !important;
                  }
                }
              }
            }
          }
          .form__btn {
            @include btn(var(--primary-color), var(--inverted-text-color));
            width: 100%;
            margin-top: 25px;
          }
          .disabled__btn {
            @include disabled-btn();
            width: 100%;
            margin-top: 25px;
          }
        }
      }
    }
  }
}
