@import '../utils/_variables';
@import '../utils/_mixins';

.search__container {
  margin: 4em 1em 0em 1em;
  .search__heading {
    text-align: center;
  }
  .search__bar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    .search__input {
      height: 55px;
      display: flex;
      width: 60%;
      align-items: center;
      border: 1px solid var(--border-color);
      padding: 1em;
      background-color: var(--tertiary-color);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      .image {
        height: 25px;
        width: 25px;
        stroke: var(--disabled-text-color);
        margin-right: 20px;
        cursor: pointer;
      }
      input {
        outline: none;
        border: none;
        height: 39px;
        width: 100%;
        font-size: 30px;
        color: var(--text-color);
        background-color: var(--tertiary-color);
      }
    }
    .search__select {
      padding: 0.6em;
      height: 55px;
      font-size: 23px;
      background-color: var(--tertiary-color);
      border: 1px solid var(--border-color);
      color: var(--text-color);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      select {
        outline: none;
        background-color: var(--tertiary-color);
        border: none;
        color: var(--text-color);
      }
    }
  }
  .search__result {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: var(--disabled-text-color);
      font-size: 20px;
      border-bottom: 1px solid var(--border-color);
    }
    .result__heading {
      font-size: 30px;
      margin-bottom: 30px;
      border: none;
    }
    .section__heading {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 16px;
        color: var(--primary-color);
        cursor: pointer;
      }
    }
    .projects__result-section {
      width: 60%;
      text-align: left;
      overflow-wrap: break-word;
    }
    .members__result-section {
      width: 60%;
      text-align: left;
      overflow-wrap: break-word;
      margin-top: 30px;
    }
    .sprints__result-section {
      width: 60%;
      text-align: left;
      overflow-wrap: break-word;
      margin-top: 30px;
    }
  }
  .search__image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .image {
      height: 300px;
      width: 300px;
    }
  }
}
