@import './utils/_mixins';
.projects__container {
  padding: 1.5em 0em;
  width: 95%;
  .projects__heading {
    display: flex;
    justify-content: space-between;
    .projects__btn {
      .projects__register__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        .image {
          height: 1.3em;
          width: 1.3em;
          margin-right: 10px;
        }
        @include btn(var(--primary-color), var(--inverted-text-color));
        padding: 5px 20px;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .projects__container {
    padding: 1em;
    .projects__heading {
      .projects__btn {
        .projects__register__btn {
          padding: 5px 15px;
          font-size: 14px;
        }
      }
    }
  }
}
