@import '_variables';
.home__container {
  margin-top: 8em;
  text-align: center;
  .home__heading {
    h1 {
      font-size: 4.5em;
      font-weight: 500;
      margin-bottom: 20px;
      span {
        color: var(--primary-color);
      }
    }
  }
  .home__subheading {
    h1 {
      color: $gray;
    }
  }
  .home__btn {
    margin-top: 50px;
    .btn {
      padding: 10px 20px;
      background-color: var(--primary-color);
      color: var(--inverted-text-color);
      font-size: 18px;
      border-radius: 2px;
    }
  }
  .home__image {
    margin-top: 50px;
    .company {
      min-height: 100px;
      min-width: 100px;
    }
  }
}
