@import '_variables';
@import '_mixins';
.home__container {
  margin-top: 8em;
  text-align: center;
  .home__heading {
    h1 {
      font-size: 4.5em;
      font-weight: 500;
      margin-bottom: 20px;
      span {
        color: var(--primary-color);
      }
    }
  }
  .home__subheading {
    h1 {
      color: $gray;
    }
  }
  .home__btn {
    margin-top: 50px;
    .btn {
      @include btn(var(--primary-color), var(--inverted-text-color));
    }
  }
  .home__image {
    margin-top: 50px;
    .company {
      min-height: 100px;
      min-width: 100px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home__container {
    margin-top: 6em;
    text-align: center;
    .home__heading {
      h1 {
        font-size: 2.5em;
        font-weight: 500;
        margin-bottom: 20px;
        span {
          color: var(--primary-color);
        }
      }
    }
    .home__subheading {
      h1 {
        font-size: 2em;
        color: $gray;
      }
    }
    .home__btn {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      .btn {
        @include btn(var(--primary-color), var(--inverted-text-color));
      }
    }
    .home__image {
      margin-top: 0px;
      .company {
        max-height: 400px;
        max-width: 350px;
      }
    }
  }
}

