@import '_mixins';
.members__container {
  .members__heading {
    padding: 1.5em 3em;
    display: flex;
    justify-content: space-between;
    .members__title {
    }
    .members__btn {
      .members__register__btn {
        @include btn(var(--primary-color), var(--inverted-text-color));
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .members__container {
    .members__heading {
      padding: 1em;
      .members__btn {
        .members__register__btn {
          padding: 5px 15px;
          font-size: 14px;
        }
      }
    }
  }
}
