@mixin btn($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
}

@mixin secondary-btn($bgcolor, $color, $bordercolor) {
  background-color: $bgcolor;
  color: $color;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 12px;
  border: 1px solid $bordercolor;
  transition-duration: 0.4s;
}
