@import '_variables';
@import '_mixins';
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: var(--secondary-color);
  max-width: 500px;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}

.modal__container {
  min-height: 300px;
  padding: 10px 20px;
  .modal__close {
    display: flex;
    justify-content: flex-end;
    .image {
      height: 20px;
      width: 20px;
      fill: var(--text-color);
      cursor: pointer;
    }
    .image:hover {
      fill: $red;
    }
  }
  .modal__body {
    text-align: left;
    .form__container {
      form {
        .form__body {
          border: none;
        }
      }
    }
    .noError {
      display: none;
    }
    .error {
      display: inline;
      color: $red;
      font-size: 16px;
    }
  }
  button {
    @include btn($red, $white);
    min-width: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  #modal > div {
    max-width: 350px;
  }

  #modal .buttons button {
    display: inline-block;
    margin-right: 15px;
  }

  .modal__container {
    .modal__body {
      .modal__form__controls {
        flex-direction: column;
        align-items: center;
        width: 100%;
        input {
          width: 100%;
          margin-bottom: 10px;
        }
        button {
          margin-left: 0px;
        }
      }
    }
    button {
      margin-top: 30px;
    }
  }
}
