@import '_variables';
.sidebar__container {
  height: 100%;
  .sidebar__heading {
    padding: 0.7em 2.2em;
    border-bottom: 1px solid rgb(168, 167, 167);
  }
  .team {
    padding: 0.7em 2em;
    margin-top: 25px;
  }
  .list {
    padding: 0em 1.3em;
    margin-top: 50px;
    ul {
      .list__item {
        list-style: none;
        .pro-inner-item {
          p {
            margin: 0;
            // color: var(--text-color);
            span {
              font-size: 18px;
              // color: var(--text-color);
              .image {
                height: 20px;
                fill: var(--text-color);
                width: 20px;
                margin-right: 30px;
              }
            }
          }
        }
        .pro-menu-item > .pro-inner-item:hover {
          color: white;
        }
      }
      .active {
        background-color: var(--list-bg-color);
        border-radius: 10px;
        .pro-inner-item {
          p {
            span {
              .image {
                fill: $white;
              }
            }
          }
        }
        a {
          color: white;
        }
      }
      .active:hover {
        color: $white !important;
      }
    }
  }
  .settings {
    height: auto;
    padding: 2em;
    a {
      border-radius: 10px;
      padding: 0.7em 3em;
      background-color: $red;
      color: $white;
    }
  }
}
