@import '_variables';
.sidebar__container {
  overflow: auto;
  .sidebar__heading {
    padding: 0.7em 2.2em;
    border-bottom: 1px solid rgb(168, 167, 167);
  }
  .team {
    padding: 0.7em 2em;
    margin-top: 25px;
  }
  .list {
    margin-top: 50px !important;
    a {
      .list__item {
        padding: 0.3em 1em;
        margin: 15px;
        p {
          span {
            .image {
              height: 20px;
              width: 20px;
              margin-right: 20px;
              fill: var(--text-color);
            }
          }

          color: var(--text-color);
        }
      }
    }
    a {
      .active {
        background-color: var(--list-bg-color);
        border-radius: 2px;
        p {
          span {
            .image {
              fill: $white;
            }
          }

          color: $white;
        }
      }
    }
  }

  .settings {
    height: auto;
    padding: 2em;
    a {
      border-radius: 2px;
      padding: 0.7em 3em;
      background-color: $red;
      color: $white;
    }
  }
}

.pro-sidebar {
  height: 100vh;
}
