.sidebar__container {
  height: 100%;
  .sidebar__heading {
    padding: 1em;
    border-bottom: 1px solid rgb(168, 167, 167);
  }
  .team {
    padding: 0.7em 1em;
    margin-top: 25px;
  }
  .list {
    margin-top: 50px;
    ul {
      .list__item {
        list-style: none;
        .pro-inner-item {
          span {
            font-size: 18px;
            .image {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
  
}
