$purple-300: #0c0c16;
$purple-200: #1e1e2b;
$purple-100: #313445;

$blue: #023e8a;
$light-blue: #f0f2f5;

$yellow: #fca311;

$gray: #5f5d5d;
$light-gray: #e1e1e1;

$white: #ffffff;
$black: #000000;
$red: rgb(156, 22, 22);
