@import './utils/_custom';
@import './utils/_variables';
@import './components/_header';
@import './components/_dropdown';
@import './components/_darkmode';
@import './components/_sidebar';
@import './components/_main';
@import './components/_navbar';
@import './components/_memberslist';
@import './components/_card';
@import './components/_modal';
@import './components/_search';
@import './components/_projectdetails';
@import './components//_projectaddform';
@import './components/_emptylist';
@import './components/_deletemodal';
@import './pages/_home';
@import './pages/_members';
@import './pages/_issues';
@import './pages/_landingpage';
@import './pages/_register';
@import './pages/_projects';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html,
body {
  min-height: 100%;
}
:root {
  --background-color: #{$white};
  --text-color: #{$black};
  --secondary-color: #{$gray};
  --tertiary-color: #{$white};
  --shadow: #55555565;
  --hover-bg-color: rgba(0, 0, 0, 0.12);
  --border-color: rgba(0, 0, 0, 0.185);
  --primary-color: #{$blue};
  --inverted-text-color: #{$white};
  --list-bg-color: #{$blue};
  --disabled-text-color: #{$black-200};
  --disabled-bg-color: #{$black-100};
  --base-size: 1em;
  --type-scale: 1.25;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --small: calc(var(--base-size) / var(--type-scale));
}

.dark {
  --background-color: #{$black-300};
  --text-color: #{$white};
  --secondary-color: #{$black-200};
  --tertiary-color: #{$black-100};
  --shadow: #{$black-300};
  --primary-color: #{$blue};
  --border-color: #30363d;
  --inverted-text-color: #{$white};
  --hover-bg-color: #{$black-300};
  --list-bg-color: #{$black-300};
  --disabled-text-color: #{$black-100};
  --disabled-bg-color: #{$black-200};
  --base-size: 1em;
  --type-scale: 1.25;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --small: calc(var(--base-size) / var(--type-scale));
}
body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);
  height: 100vh;
  scrollbar-width: thin;
}

#root {
  height: inherit;
}

p {
  margin-bottom: 0;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--small);
}

.App {
  height: inherit;
}

@media only screen and (max-width: 600px) {
  :root {
    --type-scale: 1.1;
  }
  .dark {
    --type-scale: 1.1;
  }
}
