$purple-300: #0c0c16;
$purple-200: #1e1e2b;
$purple-100: #313445;

$blue: #023e8a;
$light-blue: #f1f3f6;
$yellow: #e0be36;

$gray: #9c9c9c;
$darkgray: #2f2f2f;
$light-gray: #e1e1e1;

$white: #fafafa;
$black: #000000;
$red: #b3101e;
$success: rgb(23, 151, 23);

$info: #deebff;
