$black-300: #000;
$black-200: #111;
$black-100: #333;

$blue: #3f37c9;
$gray: #f8f9fa;
$yellow: #e0be36;

$darkgray: #2f2f2f;
$light-gray: #eaeaea;

$white: #fff;
$black: #000000;
$red: #e60000;
$success: rgb(23, 151, 23);

$info: #deebff;
